// Maps
$colors: (
    gris-fondo: #f3f3f3,
    azul-base: rgb(1, 1, 66),
    gris-body: #727272,
    blanco: white,
    azul-frio: rgb(155, 165, 255),
    azul-calido: rgb(76, 0, 255),
    azul-suave: rgb(216, 228, 240),
);

$font-sizes: (
    formulario: 8px,
    xxs: 10px,
    xs: 12px,
    s: 14px,
    m: 16px,
    l: 18px,
    xl: 20px,
    xxl: 24px,
);