// Mixins
@mixin flex ($direction, $justify-f) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-f;
}

@mixin grid ($columns, $rows, $justify-g, $align, $areas) {
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
    justify-content: $justify-g;
    align-items: $align;
    grid-template-areas: $areas;
}

@mixin medidas ($ancho, $alto) {
    width: $ancho;
    height: $alto;
}

// Mixin para media queries
@mixin responsive ($breakpoint) {
    @if $breakpoint == mobile {
      @media (max-width: $breakpoint1) { @content; }
    } @else if $breakpoint == tablet {
      @media (min-width: $breakpoint1) and (max-width: $breakpoint2) { @content; }
    } @else if $breakpoint == desktop {
      @media (min-width: $breakpoint2) and (max-width: $breakpoint3) { @content; }
    } @else if $breakpoint == desktop-large {
      @media (min-width: $breakpoint3) and (max-width: $breakpoint4) { @content; }
    } @else {
      @media ($breakpoint) { @content; }
    }
}

@mixin grid-mq ($columns-g-mq, $rows-g-mq, $areas-g-mq) {
    grid-template-columns: $columns-g-mq;
    grid-template-rows: $rows-g-mq;
    grid-template-areas: $areas-g-mq;
}

  