// Variables
$fuente: "Overpass", sans-serif;
$borde-curvo-base: 12px;
$borde-curvo-s: 8px;
$borde-nav: 3px solid #727272;
$borde-hr: 1px solid #727272;
$borde-carrusel: 20px;
$borde-caption: 10px;
$grosor-fuente: 400;
$font-size-base: large;

$breakpoint1: 500px;
$breakpoint2: 700px;
$breakpoint3: 1000px;
$breakpoint4: 1260px;

