// Datos
.h2-datos {
    margin: 12px;
}

.main-datos {
    @include flex (column, center);
    margin: 36px;

    .card-datos {
        width: 80%;

        .video-datos {
            border-radius: $borde-curvo-s;
        }
    }

    .card-datos:hover {
        color: map-get($colors , blanco );
        background-image: map-get($colors , radiante-link );
        @include animacion (hover-color, 0.3s, 1);

        .card-text{
            color: map-get($colors , blanco );
        }
    }
}