@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Overlock+SC&family=Overpass:ital,wght@0,100..900;1,100..900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap);
* {
  margin: 0;
  padding: 0;
}

@keyframes hover-color {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
body {
  font-family: "Overpass", sans-serif;
  background-color: #f3f3f3;
}
body p {
  color: #727272;
}

h1, h2, h3, .caption p {
  color: rgb(1, 1, 66);
  font-weight: 400;
  text-align: center;
}

h1 {
  padding: 36px;
}

h2 {
  text-align: start;
  margin-bottom: 5px;
  font-size: 24px;
}

hr {
  width: 60%;
  margin: 20px auto;
  color: #727272;
  border: 1px solid #727272;
}

.logo {
  display: flex;
  flex-direction: row;
  width: 150px;
  height: 75px;
  margin: 0 10px;
  border-radius: 12px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 3px solid #727272;
  background-image: linear-gradient(to bottom, #f3f3f3, rgb(216, 228, 240));
}
.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 18px;
}
.navbar ul .nav-link {
  text-decoration: none;
  color: rgb(1, 1, 66);
  padding: 10px 15px;
}
.navbar .navbar-nav .nav-item .nav-link {
  border-radius: 8px;
  padding: 10px 15px;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  background-color: rgb(1, 1, 66);
  color: white;
  animation-name: hover-color;
  animation-duration: 0.25s;
  animation-iteration-count: 1;
}
.navbar .navbar-toggler {
  background-color: rgb(1, 1, 66);
}
.navbar .navbar-toggler-icon {
  filter: invert(1) brightness(1000%);
}

footer p {
  font-size: 14px;
  text-align: center;
  padding-top: 50px;
}

.p-index {
  padding-bottom: 12px;
  margin: 0 60px;
  text-align: center;
}

.p2-index {
  margin-bottom: 12px;
}

.main1 {
  grid-area: main1;
  padding-left: 18px;
}

.main2 {
  grid-area: main2;
  padding-left: 18px;
}

.video {
  height: 450px;
  border-radius: 12px;
}

.video-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 24px 0 24px 24px;
  grid-area: video-container;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 250px);
  justify-content: center;
  align-items: center;
  grid-template-areas: "main1 video-container video-container" "main2 video-container video-container";
  padding: 24px 0;
  margin: 24px 0;
}
.main-content p {
  font-size: 16px;
}

.main-content2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px 0;
  margin: 24px 36px 24px 18px;
}

.h2-historial {
  padding-bottom: 12px;
}

.p-historial {
  text-align: center;
  margin: 0 24px;
  padding-bottom: 26px;
}

.main1-historial {
  padding: 20px 12px 0 18px;
  grid-area: main1-hist;
}

.main2-historial {
  padding: 32px 12px 0 18px;
  grid-area: main2-hist;
}

.uruguay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-area: uruguay;
}
.uruguay .uru-img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.main-content-historial {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 250px);
  justify-content: center;
  align-items: stretch;
  grid-template-areas: "uruguay main1-hist main1-hist" "uruguay main2-hist main2-hist";
  padding: 24px;
}

h3 {
  padding-top: 32px;
}

table {
  text-align: left;
}

.table1 th:nth-child(1), .table1 td:nth-child(1) {
  width: 250px;
}

.table1 th:nth-child(2), .table1 td:nth-child(2) {
  width: 200px;
}

.table2 th:nth-child(1), .table2 td:nth-child(1) {
  width: 150px;
}

.table2 th:nth-child(2), .table2 td:nth-child(2) {
  width: 150px;
}

.titulo-tabla {
  text-align: center;
  font-size: 20px;
  color: rgb(1, 1, 66);
  padding-bottom: 8px;
}

.table-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 12px;
  padding-top: 36px;
  margin: 12px;
}

.icon-m {
  width: 10%;
}

.icon {
  width: 12%;
}

.icon-c {
  width: 15%;
}

.h2-estadisticas {
  padding-top: 24px;
}

.main-estadisticas ol {
  padding: 2.5rem;
  margin-left: 16px;
}
.main-estadisticas ol li {
  font-size: 24px;
  padding: 0 12px;
  color: #727272;
}

.p-est {
  font-size: 24px;
  margin-top: 12px;
}

.carousel {
  width: 80%;
  padding: 20px;
}
.carousel .carousel-img {
  border-radius: 20px;
}
.carousel .caption {
  display: inline-block;
  border-radius: 10px;
}
.carousel .caption p {
  color: white;
  font-size: 16px;
}
.carousel .caption:hover {
  background-image: radial-gradient(closest-side, rgb(235, 241, 247), rgb(216, 228, 240), rgb(198, 225, 252));
  color: rgb(1, 1, 66);
  padding: 15px 15px 0 15px;
  animation-name: hover-color;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}
.carousel .caption:hover p {
  color: rgb(1, 1, 66);
}

.cards-est {
  margin: 24px;
}
.cards-est .card .icon-d {
  width: 7.5%;
}
.cards-est .card:hover {
  color: white;
  background-image: linear-gradient(to top, rgb(1, 1, 66), rgb(0, 37, 202), rgb(92, 63, 255));
  animation-name: hover-color;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}

.h2-datos {
  margin: 12px;
}

.main-datos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 36px;
}
.main-datos .card-datos {
  width: 80%;
}
.main-datos .card-datos .video-datos {
  border-radius: 8px;
}
.main-datos .card-datos:hover {
  color: white;
  background-image: radial-gradient(closest-side, rgb(214, 218, 255), rgb(155, 165, 255), rgb(82, 122, 255), rgb(84, 95, 255), rgb(24, 24, 196), rgb(1, 1, 184), rgb(0, 0, 145), rgb(0, 0, 119));
  animation-name: hover-color;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}
.main-datos .card-datos:hover .card-text {
  color: white;
}

.formulario {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100px 150px 50px 50px;
  justify-content: center;
  align-items: start;
  grid-template-areas: "correo contraseña" "mensaje region" "check check" "boton-enviar boton-enviar";
  padding: 24px;
  margin: 24px;
  gap: 60px;
}
.formulario .form-control {
  border: var(--bs-border-width) solid rgb(155, 165, 255);
}
.formulario .form-control:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(1, 1, 66);
  border: #f3f3f3;
}
.formulario .correo {
  grid-area: correo;
}
.formulario .contraseña {
  grid-area: contraseña;
}
.formulario .mensaje {
  grid-area: mensaje;
}
.formulario .mensaje textarea {
  min-height: 100px;
  max-height: 130px;
  resize: vertical;
  display: block;
}
.formulario .sel-region {
  grid-area: region;
}
.formulario .checkbox {
  grid-area: check;
}
.formulario .boton-enviar {
  background-color: rgb(76, 0, 255);
  padding: 10px 20px;
  color: white;
  border-style: hidden;
}
.formulario .sumbit-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-area: boton-enviar;
}

.videos-goles {
  margin: 48px 0;
}
.videos-goles h2 {
  text-align: center;
  padding-bottom: 12px;
  margin-left: 12px;
  margin-right: 12px;
}

.mejores-goles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}
.mejores-goles .goles-card {
  width: 18rem;
  background-color: rgb(216, 228, 240);
}

@media (max-width: 500px) {
  .navbar-collapse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navbar-nav .nav-item {
    width: 100%;
    text-align: center;
    display: block;
  }
  .nav-link {
    display: block;
    padding: 10px;
  }
  .main-content {
    grid-template-columns: 1fr;
    grid-template-rows: 150px 200px 150px;
    grid-template-areas: "main1" "video-container" "main2";
    text-align: center;
    gap: 60px;
  }
  .main-content p {
    font-size: 14px;
    margin: 0 32px;
    text-align: center;
  }
  .main-content h2 {
    font-size: 20px;
  }
  .main-content div {
    margin: 0;
  }
  .main-content .h2-index {
    text-align: center;
  }
  .main-content .main1, .main-content .main2 {
    padding: 0;
  }
  .main-content .video-container {
    margin: 16px;
    padding: 0;
  }
  .main-content .video-container .video {
    height: 175px;
  }
  .main-content-historial {
    grid-template-rows: 400px 400px 300px;
    grid-template-areas: "main1-hist main1-hist main1-hist" "uruguay uruguay uruguay" "main2-hist main2-hist main2-hist";
    padding: 24px 12px;
  }
  .main-content-historial h2 {
    font-size: 18px;
  }
  .main-content-historial p {
    margin: 0;
    text-align: start;
    font-size: 14px;
  }
  .uruguay {
    align-items: center;
  }
  .uruguay .uru-img {
    width: 66%;
  }
  .table-container {
    flex-direction: column;
    align-items: center;
  }
  .main-estadisticas ol {
    padding: 1rem;
    margin-left: 8px;
  }
  .main-estadisticas ol li {
    font-size: 12px;
  }
  .main-estadisticas ol li .p-est {
    font-size: 12px;
  }
  .carousel {
    width: 100%;
    padding: 8px;
  }
  h5 {
    font-size: 14px;
  }
  .cards-est li {
    font-size: 12px;
  }
  .main-datos {
    margin: 18px;
  }
  .main-datos .card-datos {
    width: 100%;
  }
  .main-datos .card-datos .card-body p {
    font-size: 12px;
  }
  .goles-card p {
    font-size: 12px;
  }
  .formulario, .label.region {
    padding: 0;
  }
  .form-label {
    font-size: 12px;
  }
  #emailHelp {
    font-size: 8px;
  }
  #seleccionar-region, footer p {
    font-size: 10px;
  }
  .form-check-label {
    font-size: 12px;
  }
  footer p {
    font-size: 10px;
  }
}
@media (min-width: 500px) and (max-width: 700px) {
  .main-content {
    grid-template-columns: 1fr;
    grid-template-rows: 175px 300px 175px;
    grid-template-areas: "main1" "video-container" "main2";
    gap: 40px;
  }
  .main-content .main1, .main-content .main2 {
    padding: 0;
  }
  .main-content p {
    margin: 0 32px;
    text-align: center;
  }
  .main-content h2 {
    font-size: 20px;
  }
  .main-content div {
    margin: 0;
    padding: 0;
  }
  .main-content .h2-index {
    text-align: center;
  }
  .main-content .video-container {
    margin: 16px;
  }
  .main-content .video-container .video {
    width: 500px;
    height: 250px;
  }
  .p-historial {
    font-size: 14px;
  }
  .main-content-historial {
    grid-template-columns: 1.5fr 1fr 1fr;
    padding: 12px;
  }
  .main-content-historial h2 {
    font-size: 16px;
    text-align: start;
  }
  .main-content-historial p {
    text-align: start;
    font-size: 10px;
    margin: 0;
  }
  .main-content-historial .uru-img {
    height: 93%;
  }
  .table1 th:nth-child(1), .table1 td:nth-child(1) {
    width: 150px;
  }
  .table1 th:nth-child(2), .table1 td:nth-child(2) {
    width: 125px;
  }
  .carousel {
    width: 100%;
    padding: 8px;
  }
  .main-estadisticas ol li {
    font-size: 12px;
  }
  .main-estadisticas ol li .p-est {
    font-size: 12px;
  }
  .cards-est .card .icon-d {
    width: 5%;
  }
  .card-datos .card-body p {
    font-size: 14px;
  }
  footer p {
    font-size: 10px;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  .main-content {
    grid-template-rows: repeat(2, 140px);
    margin-right: 12px;
  }
  .main-content h2 {
    font-size: 12px;
  }
  .main-content p {
    font-size: 10px;
  }
  .main-content .video {
    height: 250px;
  }
  .p-historial {
    font-size: 18px;
  }
  .main-content-historial {
    padding: 12px;
  }
  .main-content-historial h2 {
    font-size: 20px;
  }
  .main-content-historial p {
    font-size: 10px;
    margin: 0;
  }
  .table1 th:nth-child(1), .table1 td:nth-child(1) {
    width: 150px;
  }
  .table1 th:nth-child(2), .table1 td:nth-child(2) {
    width: 125px;
  }
  .main-estadisticas ol li {
    font-size: 16px;
  }
  .main-estadisticas ol li .p-est {
    font-size: 16px;
  }
  .carousel {
    width: 100%;
  }
  .caption p, .h5-est {
    font-size: 14px;
  }
  .cards-est li {
    font-size: 12px;
  }
  footer p {
    font-size: 10px;
  }
}
@media (min-width: 1000px) and (max-width: 1260px) {
  .main-content {
    grid-template-rows: repeat(2, 190px);
  }
  .main-content h2 {
    font-size: 18px;
  }
  .main-content p {
    font-size: 12px;
  }
  .video-container {
    margin: 16px;
  }
  .video-container .video {
    height: 350px;
  }
  .main-content-historial {
    padding: 12px;
  }
  .main-content-historial p {
    font-size: 16px;
    margin: 0;
  }
  .table1 th:nth-child(1), .table1 td:nth-child(1) {
    width: 150px;
  }
  .table1 th:nth-child(2), .table1 td:nth-child(2) {
    width: 125px;
  }
  footer p {
    font-size: 12px;
  }
}
.animate__animated.animate__fadeIn, .animate__animated.animate__fadeInLeft {
  --animate-duration: 1.5s;
}

/*# sourceMappingURL=new-styles.css.map */
