/* Reset de CSS - lo dejo como comentario porque no me convencio como queda */
*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Fuente de texto del body y color de fondo */
body {
    font-family: "Overpass", serif;
    background-color: #f3f3f3;
}

/* Color de letra de los parrafos del body */
body p {
    color: #727272;
    font-size: large;
}

h1, h2, h3, .caption p, .p-datos {
    color: rgb(1, 1, 66);
    font-weight: 400; 
    text-align: center;
}

h1 {
    padding: 36px;
}

h2 {
    text-align: start;
    margin-bottom: 5px;
    font-size: 24px;
}

/* Ajustes de fuente de la barra de navegación */
.logo {
    width: 150px;
    height: 75px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 3px solid #727272;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 18px;
}

.nav-li {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: rgb(1, 1, 66);
}

.navbar-toggler {
    background-color: rgb(1, 1, 66);
    border-color: white;
}

.navbar-toggler-icon {
    filter: invert(1) brightness(1000%);
}

.navbar-nav .nav-item .nav-link {
    border-radius: 8px;
    padding: 10px 15px;
}

.navbar-nav .nav-item .nav-link:hover {
    background-color: rgb(1, 1, 66); /* Azul oscuro */
    color: white; /* Texto en blanco */
}

/* INDEX - Contenido principal */
.p-index {
    padding-bottom: 12px;
    margin: 0 60px;
    text-align: center;
}

hr {
    width: 60%;
    margin: 20px auto;
    border: 1px solid #727272;
}

.p2-index {
    margin-bottom: 12px;
    text-align: start;
}

.main1 {
    grid-area: main1;
    padding-left: 18px;
}

.main2 {
    grid-area: main2;
    padding-left: 18px;
}

.video-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 24px 0 24px 24px;
    grid-area: video-container
}

.video {
    height: 450px;
    border-radius: 12px 12px;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 250px);
    justify-content: center;
    align-items: center;
    grid-template-areas: 
    "main1 video-container video-container"
    "main2 video-container video-container";
    padding: 24px 0;
    margin-top: 24px;
}

.main-content p {
    font-size: 16px;
}

/* HISTORIAL */
.h1-historial {
    padding-bottom: 12px;
}

.p-historial {
    text-align: center;
    margin: 0 24px;
    padding-bottom: 36px;
}

.h2-historial {
    padding-bottom: 12px;
}

.p2-historial {
    text-align: start;
}

.main1-historial {
    padding: 20px 12px 0 18px;
    grid-area: main1-hist;
}

.main2-historial {
    padding: 32px 12px 0 18px;
    grid-area: main2-hist;
}

.uruguay {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-area: uruguay;
}

.uru-img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.main-content-historial {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 250px);
    justify-content: center;
    grid-template-areas: 
    "uruguay main1-hist main1-hist"
    "uruguay main2-hist main2-hist";
    padding: 24px;
}

h3 {
    padding-top: 32px;
}

table {
    text-align: left;
}

.table1 th:nth-child(1), .table1 td:nth-child(1) {
    width: 250px;
}

.table1 th:nth-child(2), .table1 td:nth-child(2) {
    width: 200px;
}

.table2 th:nth-child(1), .table2 td:nth-child(1) {
    width: 150px;
}

.table2 th:nth-child(2), .table2 td:nth-child(2) {
    width: 150px;
}

.titulo-tabla {
    text-align: center;
    font-size: 22px;
    color: rgb(1, 1, 66);
    padding-bottom: 8px;
}

.table-container {
    display: flex;
    justify-content: space-evenly;
    gap: 12px;
    padding-top: 36px;
    margin: 12px;
}

/* Estadisticas */
.h2-estadisticas {
    margin-left: 12px;
    padding-top: 24px;
}

ol li {
    font-size: 22px;
    padding: 0 24px;
    color: #727272;
}

.carousel {
    width: 80%;
    padding: 20px;
}

.carousel-img {
    border-radius: 20px;
}

.caption {
    display: inline-block;
    border-radius: 10px;
}

.caption p {
    color: white;
}

.caption:hover{
    background-color: rgb(1, 1, 66);
    color: white;
    padding: 5px 15px;
}

.goles2010 {
    text-decoration: none;
    color: rgb(1, 1, 66);
}

/* Pestaña Datos */
.p-datos {
    color: #727272;
}

/* Acerca de */
.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px 150px 50px 50px;
    justify-content: center;
    grid-template-areas: 
    "correo contraseña"
    "mensaje region"
    "check check"
    "boton-enviar boton-enviar";
    padding: 24px;
    margin: 24px;
    gap: 24px;
}

.form-control {
    border: var(--bs-border-width) solid rgb(155, 165, 255);
}

.form-control:focus {
    outline: 0;
    box-shadow: 0 0 0 .25rem rgb(1, 1, 66);
    border: #f3f3f3;
}

.correo {
    grid-area: correo;
}

.contraseña {
    grid-area: contraseña;
}

.mensaje {
    grid-area: mensaje;
}

.mensaje textarea {
    min-height: 100px;
    max-height: 130px;
    resize: vertical;
    display: block;
}

.label-region {
    padding-bottom: 8px;
}

.sel-region {
    grid-area: region;
}

.checkbox {
    grid-area: check;
}

.boton-enviar {
    background-color: rgb(76, 0, 255);
    padding: 10px 20px;
    color: white;
    border-style: hidden;
}

.sumbit-item {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: boton-enviar;
}

footer p {
    color: #727272;
    font-size: 14px;
    text-align: center;
    padding-top: 50px;
}

/* Media queries generales */
/* Navbar */
@media (max-width: 500px) {
    .navbar-collapse {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar-nav .nav-item {
        width: 100%;
        text-align: center;
        display: block;
    }
    .nav-link {
        display: block;
        padding: 10px;
    }

    /* Index */
    .main-content {
        grid-template-columns: 1fr;
        grid-template-rows: 150px 200px 150px;
        grid-template-areas: 
        "main1"
        "video-container"
        "main2";
        text-align: center;
        gap: 60px;
    }
    .main1, .main2 {
        padding: 0;
    }
    .main-content p, .main-content-historial p {
        font-size: 14px;
        margin: 0 32px;
        text-align: center;
    }
    .main-content h2, .main-content-historial h2 {
        font-size: 18px;
    }
    .main-content div {
        margin: 0;
    }
    .h2-index {
        text-align: center;
    }
    .video-container {
        margin: 16px;
        padding: 0;
    }
    .video {
        height: 175px;
    }
    
    /* Historial */
    .main-content-historial {
        grid-template-rows: 400px 400px 300px;
        grid-template-areas: 
        "main1-hist main1-hist main1-hist"
        "uruguay uruguay uruguay"
        "main2-hist main2-hist main2-hist";
        padding: 24px 12px;
    }
    .main-content-historial p {
        margin: 0;
        text-align: start;
    }
    .uruguay {
        align-items: center;
    }
    .uru-img {
        width: 66%;
    }
    .table-container {
        flex-direction: column;
        align-items: center;
    }
    .footer {
        font-size: 10px;
    }
}

/* Media queries para dispositivos pequeños */
@media (min-width: 500px) and (max-width: 700px) {
    /* Index */
    .main-content {
        grid-template-columns: 1fr;
        grid-template-rows: 175px 300px 175px;
        grid-template-areas: 
        "main1"
        "video-container"
        "main2";
        gap: 40px;
    }
    .main1, .main2 {
        padding: 0;
    }
    .main-content p, .main-content-historial p {
        margin: 0 32px;
        text-align: center;
    }
    .main-content h2, .main-content-historial h2 {
        font-size: 20px;
    }
    .main-content div {
        margin: 0;
        padding: 0;
    }
    .h2-index {
        text-align: center;
    }
    .video-container {
        margin: 16px;
    }
    .video {
        width: 500px;
        height: 250px;
    }

    /* Historial */
    .main-content-historial {
        grid-template-columns: 1.5fr 1fr 1fr;
        padding: 12px;
    }
    .p-historial {
        font-size: 14px;
        margin: 0 24px;
    }
    .main-content-historial h2 {
        font-size: 16px;
        text-align: start;
    }
    .main-content-historial p {
        text-align: start;
        font-size: 10px;
        margin: 0;
    }
    .uru-img {
        height: 93%;
    }
    .table1 th:nth-child(1), .table1 td:nth-child(1) {
        width: 150px;
    }
    .table1 th:nth-child(2), .table1 td:nth-child(2) {
        width: 125px;
    }
    .footer {
        font-size: 10px;
    }
}

/* Media queries para dispositivos medianos */
@media (min-width: 701px) and (max-width: 1000px) {
    /* Index */
    .main-content p {
        font-size: 10px;
    }
    .main-content h2 {
        font-size: 12px;
    }
    .main-content {
        grid-template-rows: repeat(2, 140px);
        margin-right: 12px;
    }
    .video {
        height: 250px;
    }

    /* Historial */
    .main-content-historial {
        padding: 12px;
    }
    .p-historial {
        font-size: 18px;
    }
    .main-content-historial h2 {
        font-size: 20px;
        text-align: start;
    }
    .main-content-historial p {
        text-align: start;
        font-size: 10px;
        margin: 0;
    }

    .table1 th:nth-child(1), .table1 td:nth-child(1) {
        width: 150px;
    }
    .table1 th:nth-child(2), .table1 td:nth-child(2) {
        width: 125px;
    }
    .footer {
        font-size: 10px;
    }
}

/* Media queries para dispositivos grandes */
@media (min-width: 1000px) and (max-width: 1260px) {
    /* Index */
    .main-content p {
        font-size: 12px;
    }
    .main-content h2 {
        font-size: 18px;
    }
    .video-container {
        margin: 16px;
    }
    .video {
        height: 350px;
    }
    .main-content {
        grid-template-rows: repeat(2, 190px);
    }

    /* Historial */
    .main-content-historial {
        padding: 12px;
    }
    .main-content-historial p {
        font-size: 16px;
        margin: 0;
    }

    .table1 th:nth-child(1), .table1 td:nth-child(1) {
        width: 150px;
    }
    .table1 th:nth-child(2), .table1 td:nth-child(2) {
        width: 125px;
    }
    .footer {
        font-size: 12px;
    }
}

