/* Reset de CSS - lo dejo como comentario porque no me convencio como queda */
*{
    margin: 0;
    padding: 0;
}

/* Fuente de texto del body y color de fondo */
body {
    font-family: "Overpass", serif;
    background-color: #f3f3f3;
}

/* Color de letra de los parrafos del body */
body p {
    color: #727272;
    font-size: large;
}

h1 {
    font-weight: 400;
    text-align: center;
    padding: 36px;
    color: rgb(1, 1, 66);
}

h2 {
    font-weight: 400;
    text-align: start;
    margin-bottom: 5px;
    color: rgb(1, 1, 66);
}

/* Ajustes de fuente de la barra de navegación */
.logo {
    width: 150px;
    height: 75px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 3px solid #727272;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 18px;
}

.nav-li {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: rgb(1, 1, 66);
}

.navbar-toggler-icon {
    filter: invert(1) brightness(1000%);
}

.navbar-nav .nav-item .nav-link {
    border-radius: 8px;
    padding: 10px 15px;
}

.navbar-nav .nav-item .nav-link:hover {
    background-color: rgb(1, 1, 66); /* Azul oscuro */
    color: white; /* Texto en blanco */
}

/* INDEX - Contenido principal */
.p-index {
    padding-bottom: 12px;
    margin: 0 60px;
    text-align: center;
}

.h2-index {
    text-align: start;
}

hr {
    width: 60%;
    margin: 20px auto;
    border: 1px solid #727272;
}

.p2-index {
    margin-bottom: 12px;
}

.main1 {
    grid-area: main1;
    margin-left: 16px

}

.main2 {
    grid-area: main2;
    margin-left: 16px;
}

.video-container {
    margin: 32px 32px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    grid-area: video-container
}

.video {
    width: 100%;
    height: 100%;
    border-radius: 12px 12px;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 250px);
    justify-content: center;
    align-items: center;
    grid-template-areas: 
    "main1 video-container video-container"
    "main2 video-container video-container";
    padding: 24px 0;
    margin-top: 24px;
}

/* MEDIA QUERIES INDEX */
@media (max-width: 500px) {
    .main-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 150px);
        grid-template-areas: 
        "main1"
        "video-container"
        "main2";
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 60px;
    }
    .p-index{
        margin: 12px;
    }
    .main-content p {
        font-size: 16px;
        margin: 0 32px;
    }
    .main-content h2 {
        font-size: 20px;
    }
    .video {
        width: 350px;
        height: 175px;
        padding-bottom: 24px;
    }
    h2 {
        text-align: center;
        padding-bottom: 10px;
    }
    .h2-index {
        text-align: center;
    }

    .main-content div {
        margin: 0;
    }

    .footer {
        font-size: 12px;
        margin: 12px;
    }
}

@media (min-width: 500px) and (max-width: 700px) {
    .main-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 150px);
        grid-template-areas: 
        "main1"
        "video-container"
        "main2";
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 60px;
    }
    .main-content p {
        font-size: 16px;
        margin: 0 32px;
    }
    .main-content h2 {
        font-size: 20px;
    }
    .video {
        width: 500px;
        height: 250px;
        padding-bottom: 24px;
    }
    h2 {
        text-align: center;
        padding-bottom: 10px;
    }
    .h2-index {
        text-align: center;
    }

    .main-content div {
        margin: 0;
    }
}

@media (min-width: 700px) and (max-width: 820px) {
    .main-content p {
        font-size: 11px;
    }
    .main-content h2 {
        font-size: 13px;
    }
    .main-content {
        grid-template-rows: repeat(2, 160px);
    }
    .video {
        width: 500px;
        height: 250px;
    }
}

@media (min-width: 820px) and (max-width: 960px) {
    .main-content p {
        font-size: 12px;
    }
    .main-content h2 {
        font-size: 14px;
    }
    .main-content {
        grid-template-rows: repeat(2, 170px);
    }
    .video {
        width: 600px;
        height: 300px;
    }
}

@media (min-width: 960px) and (max-width: 1165px) {
    .main-content p {
        font-size: 14px;
    }
    .main-content h2 {
        font-size: 18px;
    }
    .main-content {
        grid-template-rows: repeat(2, 190px);
    }
    .video {
        width: 700;
        height: 350px;
    }
}

/* HISTORIAL */
.h1-historial {
    padding-bottom: 12px;
}

.p-historial {
    text-align: center;
    padding-bottom: 36px;
}

.h2-historial {
    font-weight: 400;
    padding-bottom: 12px;
}

.main1-historial {
    padding: 20px 12px 0 18px;
    grid-area: main1-hist;
}

.main2-historial {
    padding: 32px 12px 0 18px;
    grid-area: main2-hist;
}

.uruguay {
    grid-area: uruguay;
}

.uru-img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.main-content-historial {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 250px);
    justify-content: center;
    grid-template-areas: 
    "uruguay main1-hist main1-hist"
    "uruguay main2-hist main2-hist";
    padding: 24px;
}

h3 {
    color: rgb(1, 1, 66);
    text-align: center;
    padding-top: 32px;
}

table {
    text-align: left;
}

.table1 th:nth-child(1), .table1 td:nth-child(1) {
    width: 250px;
}

.table1 th:nth-child(2), .table1 td:nth-child(2) {
    width: 200px;
}

.table2 th:nth-child(1), .table2 td:nth-child(1) {
    width: 150px;
}

.table2 th:nth-child(2), .table2 td:nth-child(2) {
    width: 150px;
}

.titulo-tabla {
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    color: rgb(1, 1, 66);
    padding-bottom: 8px;
}

.table-container {
    display: flex;
    justify-content: space-evenly;
    gap: 12px;
    padding-top: 36px;
}

@media (min-width: 935px) and (max-width: 1175px) {
    .main-content-historial p {
        font-size: 16px;
    }
    .main-content-historial h2 {
        font-size: 24px;
    }
}

@media (min-width: 780px) and (max-width: 935px){
    .h1-historial {
        font-size: 32px;
    }
    .p-historial {
        font-size: 16px;
        margin: 0 16px;
    }
    .main-content-historial h2 {
        font-size: 22px;
    }
    .main-content-historial p {
        font-size: 14px;
    }
    .uru-img {
        height: 90%;
    }
    .table1 th:nth-child(1), .table1 td:nth-child(1) {
        width: 175px;
    }
    .table1 th:nth-child(2), .table1 td:nth-child(2) {
        width: 150px;
    }
    .tabla2 {
        width: 25%;
    }
}

@media (min-width: 580px) and (max-width: 780px){
    .main-content-historial {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 200px);
        justify-content: center;
        grid-template-areas: 
        "uruguay main1-hist main1-hist"
        "uruguay main2-hist main2-hist";
        padding: 24px;
    }
    .h1-historial {
        font-size: 30px;
    }
    .p-historial {
        font-size: 14px;
        margin: 0 24px;
    }
    .main-content-historial h2 {
        font-size: 18px;
        text-align: start;
    }
    .main-content-historial p {
        font-size: 11px;
    }
    .tabla1 {
        font-size: 14px;
    }
    .table1 th:nth-child(1), .table1 td:nth-child(1) {
        width: 150px;
    }
    .table1 th:nth-child(2), .table1 td:nth-child(2) {
        width: 125px;
    }
    .tabla2 {
        width: 25%;
        font-size: 14px;
    }
    h3 {
        font-size: 22px;
    }
    .titulo-tabla {
        font-size: 16px;
    }
}

@media (min-width: 490px) and (max-width: 580px) {
    .main-content-historial {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 175px);
        justify-content: center;
        grid-template-areas: 
        "uruguay main1-hist main1-hist"
        "uruguay main2-hist main2-hist";
        padding: 12px;
    }
    .h1-historial {
        font-size: 26px;
    }
    .p-historial {
        font-size: 14px;
        margin: 0 24px;
    }
    .main-content-historial h2 {
        font-size: 16px;
        text-align: start;
        padding: 0;
    }
    .main-content-historial p {
        font-size: 10px;
    }
    .main1-historial {
        padding: 10px;
    }
    .main2-historial {
        padding: 20px 0 0 10px;
    }
    .table-container {
        padding-top: 12px;
    }
    .tabla1 {
        font-size: 14px;
    }
    .table1 th:nth-child(1), .table1 td:nth-child(1) {
        width: 125px;
    }
    .table1 th:nth-child(2), .table1 td:nth-child(2) {
        width: 100px;
    }
    .tabla2 {
        width: 33%;
        font-size: 14px;
    }
    h3 {
        font-size: 22px;
    }
    .titulo-tabla {
        font-size: 16px;
    }
    .footer {
        font-size: 12px;
    }
}

@media (min-width: 390px) and (max-width: 490px) {
    .main-content-historial {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 200px 300px 200px;
        justify-content: center;
        grid-template-areas: 
        "main1-hist main1-hist main1-hist"
        "uruguay uruguay uruguay"
        "main2-hist main2-hist main2-hist";
        padding: 24px 12px;
    }
    .h1-historial {
        font-size: 26px;
    }
    .p-historial {
        font-size: 14px;
        margin: 0 24px;
    }
    .main-content-historial h2 {
        font-size: 14px;
        text-align: start;
        padding: 0;
    }
    .main-content-historial p {
        font-size: 10px;
    }
    .main1-historial {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: start;
        padding: 20px;
    }
    .main2-historial {
        padding: 18px;
    }
    .uruguay {
        display: flex;
        justify-content: center;
    }
    .uru-img {
        width: 50%;
    }
    .table-container {
        display: flex;
        justify-content: center;
        padding-top: 12px;
        margin-right: 12px;
    }
    .tabla1 {
        font-size: 10px;
    }
    .table1 th:nth-child(1), .table1 td:nth-child(1) {
        width: 100px;
    }
    .table1 th:nth-child(2), .table1 td:nth-child(2) {
        width: 75px;
    }
    .tabla2 {
        width: 25%;
        font-size: 10px;
    }
    h3 {
        padding: 0;
        font-size: 18px;
    }
    .titulo-tabla {
        text-align: -webkit-center;
        font-size: 12px;
    }
    .footer {
        font-size: 12px;
    }
}

@media (max-width: 390px) {
    .main-content-historial {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 200px 300px 200px;
        justify-content: center;
        grid-template-areas: 
        "main1-hist main1-hist main1-hist"
        "uruguay uruguay uruguay"
        "main2-hist main2-hist main2-hist";
        padding: 24px 12px;
    }
    .h1-historial {
        font-size: 26px;
    }
    .p-historial {
        font-size: 14px;
        margin: 0 24px;
    }
    .main-content-historial h2 {
        font-size: 14px;
        text-align: start;
        padding: 0;
    }
    .main-content-historial p {
        font-size: 10px;
    }
    .main1-historial {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: start;
        padding: 20px;
    }
    .main2-historial {
        padding: 18px;
    }
    .uruguay {
        display: flex;
        justify-content: center;
    }
    .uru-img {
        width: 50%;
    }
    .table-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 12px;
        margin: 0 24px;
    }
    .tabla1 {
        font-size: 10px;
    }
    .table1 th:nth-child(1), .table1 td:nth-child(1) {
        width: 100px;
    }
    .table1 th:nth-child(2), .table1 td:nth-child(2) {
        width: 75px;
    }
    .tabla2 {
        width: 50%;
        font-size: 10px;
    }
    h3 {
        padding: 0;
        font-size: 18px;
    }
    .titulo-tabla {
        text-align: -webkit-center;
        font-size: 12px;
    }
    .footer {
        font-size: 12px;
    }
}

/* Estadisticas */
.h1-estadisticas {
    font-weight: 400;
    text-align: center;
}

.h2-estadisticas {
    font-weight: 400;
    margin-left: 12px;
    padding-top: 24px;
}

ol li {
    font-size: 22px;
    padding: 0 24px;
    color: #727272;
}

.carousel {
    width: 80%;
    padding: 20px;
}

.caption {
    display: inline-block;
    border-radius: 10px;
}

.caption p {
    color: white;
}

.caption:hover{
    background-color: rgb(1, 1, 66);
    color: white;
    padding: 5px 15px;
}

.goles2010 {
    text-decoration: none;
    color: rgb(1, 1, 66);
}

/* Pestaña Datos */
.h1-datos {
    font-weight: 400;
    text-align: center;
}

.h2-datos {
    font-weight: 400;
}

.p-datos {
    color: #727272;
}

/* Acerca de */
.h1-acerca-de {
    font-weight: 400;
    text-align: center;
}

.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px 150px 50px 50px;
    justify-content: center;
    grid-template-areas: 
    "correo contraseña"
    "mensaje region"
    "check check"
    "boton-enviar boton-enviar";
    padding: 24px;
    margin: 24px;
    gap: 24px;
}

.form-control {
    border: var(--bs-border-width) solid rgb(155, 165, 255);
}

.form-control:focus {
    outline: 0;
    box-shadow: 0 0 0 .25rem rgb(1, 1, 66);
    border: #f3f3f3;
}

.correo {
    grid-area: correo;
}

.contraseña {
    grid-area: contraseña;
}

.mensaje {
    grid-area: mensaje;
}

.mensaje textarea {
    min-height: 100px;
    max-height: 130px;
    resize: vertical;
    display: block;
}

.label-region {
    padding-bottom: 8px;
}

.sel-region {
    grid-area: region;
}

.checkbox {
    grid-area: check;
}

.boton-enviar {
    background-color: rgb(76, 0, 255);
    padding: 10px 20px;
    color: white;
    border-style: hidden;
}

.sumbit-item {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: boton-enviar;
}

footer p {
    color: #727272;
    font-size: 14px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: px;
}




